<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="File" name="logFile" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate}|${processid}|${level:uppercase=true}|${message}" />
    <target name="database" xsi:type="Database" dbProvider="System.Data.SqlClient"
			  connectionString="Data Source='SBREFR-AP02';Initial Catalog='NLogData';Uid=SASHARK;Pwd=adm1shk29@"
			  commandText="exec dbo.InsertNLog
                              @pcname,
                              @applicationname,
                              @applicationversion,
                              @levelname,
                              @usrname,
                              @callSite,
                              @type,
                              @message,
                              @stackTrace,
                              @appPath,
                              @additionalInfo">
      <parameter name="@pcname" layout="${machinename}" />
      <parameter name="@applicationname" layout="${processname}" />
      <parameter name="@applicationversion" layout="${assembly-version}" />
      <parameter name="@levelname" layout="${level}" />
      <parameter name="@usrname" layout="${environment-user}" />
      <parameter name="@callSite" layout="${callsite}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@message" layout="${exception:format=message}" />
      <parameter name="@stackTrace" layout="${exception:format=stackTrace}" />
      <parameter name="@appPath" layout="${basedir}" />
      <parameter name="@additionalInfo" layout="${message}" />
    </target>
    <target
      xsi:type="ColoredConsole"
      name="console"
      layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>
  <rules>

    <!--Logger format TXT-->
    <logger name="*" minlevel="Info" writeTo="logFile" />
    <!--console-->
    <logger name="*" minlevel="Trace" writeTo="console" />

    <!--Logger DB-->
    <logger name="*" minlevel="Warn" writeTo="database" />
  </rules>
</nlog>
